*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
ol,
li{
	list-style: none;
}

img{
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-size: inherit;
	font-weight: inherit;
}

html,
body{
	background-color: #FFF;
	margin: 0px;
	font-size: 18px;
	font-weight: 400;
	color: #000;
	font-family: "Inter";
}

.wrapper{
	margin-top: 25px;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

._container{
	max-width: 1160px;
	padding: 0 16px;
	margin: 0 auto;
	box-sizing: content-box;
}

.header {
	width: 100%;
}

.header__container{
	display: flex;
	min-height: 35px;
	align-items: center;
	justify-content: space-between;
}

.header__logo{
	min-width: 107px;
}

.header__logo img{
	width: inherit;
}

#menu__toggle{
	opacity: 0;
}

.menu__hamb{
	display: none;
}

.menu__btn{
	display: flex;
	align-items: center;
	position: relative;
	bottom: 10px;
	width: 25px;
	height: 16px;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background: #000000;
 }

 .menu__btn > span::before {
  content: '';
  top: -8px;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 320px;
  height: 100%;
  margin: 0;
  padding: 40px 20px;
  list-style: none;
  background-color: #000;
}

.box-menu__link{
	color: #D9D9D9;
	font-size: 14px;
	line-height: 175%;
	letter-spacing: -0.05em;
}

.box-menu__item:first-child{
	margin-bottom: 30px!important;
}

.box-menu__item:not(:last-child){
	margin-bottom: 20px;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.header__menu{
	margin: 0 0 0 120px;
}

.menu__list{
	display: flex;
}

.menu__item{
	color: #2E3235;
	font-weight: 700;
	font-style: normal;
	line-height: 175%;
	letter-spacing: -0.05em;
}

.menu__item:not(:last-child){
	margin: 0 76px 0 0;
}

.menu__item:last-child{
	margin: 0 0 0 30px;
}

.menu__link {
	font-weight: 400;
	color: #2E3235;
	font-style: normal;
	line-height: 175%;
	letter-spacing: -0.05em;
	transition: 0.3s text-shadow;
}

.menu__link:hover{
	text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
}

.page{
	flex: 1 1 auto;
}

.main-block__body {
	margin: 76px 0 135px 0;
	display: flex;
	justify-content: space-between;

}

.main-block__title {
	margin-top: 83px;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 50px;
	line-height: 175%;
	letter-spacing: -0.05em;
	text-transform: uppercase;
}

.main-block__subtitle {
	margin-top: 15px;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 30px;
	line-height: 175%;
	letter-spacing: -0.05em;
	color: #817979;
}

.main-block__buttons{
	margin-top: 90px;
}

.main-block__button {
	background-color: transparent;
	width: 245px;
	height: 66px;
	border-radius: 10px;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 175%;
	letter-spacing: -0.05em;
	transition: 0.5s;
}

.black-btn{
	border: 2px solid #000;
}

.main-block__buttons .pink-btn{
	margin-right: 22px;
}

.pink-btn{
	color: #fff;
	background-color: #F03957;
	border: 2px solid #F03957;
}

.black-btn:hover {
	background-color: #000;
	color: #fff;
	cursor: pointer;
}

.pink-btn:hover {
	background-color: transparent;
	color: #F03957;
	cursor: pointer;
}

.page__services {
	margin-top: 25px;
	background-color: #525252;
}

.service__container {
	padding: 80px 0 120px 0;
}

.service__titles {
	margin-bottom: 107px;
}

.service__titles .titles__text {
	width: 466px;
}

.titles__block {
	display: flex;
	justify-content: space-between;
    align-items: center;
}

.titles-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 175%;
	letter-spacing: -0.05em;
	text-transform: uppercase;
}

.tt-white {
	color: #F7F5F5;
}

.tt-pink {
	color: #F03957;
}

.tt-black{
	color: #000;
}

.titles__text {
	font-style: normal;
	font-weight: 600;
	line-height: 175%;
	letter-spacing: -0.05em;
}

.services__row {
	background-color: #FFF;
	border-radius: 20px;
	height: 362px;
	padding: 67px 60px;
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.services__item {
	display: flex;
	flex-direction: column;
}

.is__img-center {
	flex-grow: 1;
}

.item-service__img img{
	display: block;
    margin: auto;
}

.phone{
	position: relative;
	top: 19px;
}

.item-service__title {
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 175%;
	letter-spacing: -0.05em;
}

.item-service__title-pink {
	color: #F03957;
}

.item-service__text {
	margin-top: 25px;
	width: 520px;
	font-style: normal;
	line-height: 175%;
	letter-spacing: -0.05em;
}

.item-service__button {
	background-color: #fff;
	margin-top: 30px;
	width: 160px;
	height: 50px;
	border: 2px solid #000;
	border-radius: 8px;
	font-family: 'Inter';
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 175%;
	letter-spacing: -0.05em;
	transition: 0.5s;
}

.item-service__phone-btn{
	display: none;
}

.reverse{
	flex-direction: row-reverse;
}

.page__benefits{
	background-color: #F7F5F5;
}

.benefits__container{
	padding-top: 120px;
    padding-bottom: 120px;
}

.benefits__body .titles__text{
	width: 523px;
}

.benefits__block{
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}

.benefits__column{
	padding: 35px 24px 0 30px;
	width: 367px;
	height: 498px;
	border-radius: 20px;
}

.benefits__column__gray{
	background-color: #C4C4C4;
}

.benefits__column__bold-gray{
	color: #fff;
	background-color: #525252;
}

.benefits__column__pink{
	margin-right: 0px;
	color: #fff;
	background-color: #D5636B;
}

.benefits__column__header{
	display: flex;
    flex-direction: column-reverse;
}

.benefits__column__gray .benefits__column__header img{
	width: 72px;
}

.benefits__column__bold-gray .benefits__column__header img{
	width: 46px;
}

.benefits__column__pink .benefits__column__header img{
	width: 62px;
}

.benefits__column__title{
	margin-top: 30px;
	font-weight: 600;
	font-size: 30px;
	line-height: 150%;
	letter-spacing: -0.05em;
}

.benefits__column__text{
    line-height: 175%;
    letter-spacing: -0.05em;
	margin-top: 25px;
}

.brends-preview__container{
	padding-top: 120px;
	padding-bottom: 86px;
}

.brends__сarousel{
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.carousel__item{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.item-carousel__arrow{
	align-self: center;
}

.fr{
	margin-right: 32px;
}

.rgh{
	margin-left: 32px;
}

.item-carousel__brend{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #EFEFEF;
	border-radius: 20px;
	width: 267px;
	height: 107px;
}

.item-carousel__brend:not(:last-child){
	margin-right: 30px;
}

#pagin{
	margin-top: 41px;
	width: 230px;
	height: 10px;
	align-self: center;
}

.preview__body{
	margin-top: 120px;
}

.preview__row{
	margin-top: 80px;
	display: flex;
	justify-content: space-between;
}

.preview__column{
	width: 367px;
	padding: 25px 30px;
	background-color: #F7F5F5;
	border-radius: 15px;
}

.preview__column__title{
	display: flex;
	justify-content: space-between;

}

.column-title__content{
	flex-grow: 1;
    display: flex;
    align-items: center;
}

.column-title__nick{
	font-weight: 700;
	line-height: 175%;
	letter-spacing: -0.05em;
}

.preview__column__title .column-title__date{
	text-align: right;
}

.column-title__date{
	font-size: 16px;
	line-height: 175%;
	letter-spacing: -0.05em;
	text-decoration-line: underline;
	color: #6F7375;
	flex-grow: 1;
}

.column-title__icon{
	position: relative;
	bottom: 8px;
	margin-left: 3px;
}

.preview__column__text{
	font-size: 16px;
	line-height: 175%;
	letter-spacing: -0.05em;
}

.preview__column__bottom{
	margin-top: 13px;
	display: flex;
	justify-content: space-between;
}

.page__feedback{
	background-color: #525252;
}

.feedback__container{
	padding: 120px 0 120px 0;
}

.feedback__container .titles__block .titles__text{
	width: 318px;
}

.feedback__block{
	margin-top: 57px;
	background-color: #fff;
	padding: 80px 95px;
	border-radius: 20px;
}

.feedback__block__flex{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.feedback__block__input{
	width: 48%;
}

.feedback__block__input input{
	padding-left: 25px;
	border: 2px solid #D9D9D9;
	border-radius: 10px;
	width: 100%;
	height: 57px;
	font-family: 'Inter';
	font-size: 16px;
	line-height: 175%;
	letter-spacing: -0.05em;
	color: #817979;
}

.feedback__block__input input:not(:last-child){
	margin-bottom: 20px;
}

.feedback__block__text{
	width: 48%;
	height: 211px;
}

.feedback__block__text textarea{
	width: 100%;
	height: 100%;
	padding: 13px 25px;
	border: 2px solid #D9D9D9;
	border-radius: 10px;
	resize: none;
	font-family: 'Inter';
	font-size: 16px;
	line-height: 175%;
	letter-spacing: -0.05em;
	color: #817979;
}

.upload-file__wrapp{
	position: relative;
	left: 420px;
    bottom: 50px;
    cursor: pointer;
}

.upload-file{
	display: none;
}

.feedback__block__button{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.feedback__button{
	width: 228px;
	height: 66px;
	border-radius: 10px;
	font-family: 'Inter';
	font-weight: 600;
	font-size: 18px;
	line-height: 175%;
	letter-spacing: -0.05em;
}

.feedback__subbutton{
	margin-top: 17px;
	width: 209px;
	font-weight: 600;
	font-size: 10px;
	line-height: 175%;
	letter-spacing: -0.05em;
}

.page__map{
	height: 669px;
	background-image: url(assets/image/map-block/background.jpg);
	padding-top: 120px;
}

.map__body{
	width: 463px;
	padding: 50px 55px;
	background-color: #525252;
	border-radius: 15px;;
}

.map__body img{
	margin-bottom: 8px;
}

.map__body__address{
	margin: 25px 0 25px 0;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: -0.05em;
	color: #EFEFEF;
}

.map__body__number{
	font-weight: 700;
	font-size: 20px;
	line-height: 175%;
	letter-spacing: -0.05em;
	color: #DEDCDC;
}

.map__phone{
	display: none;
}

.footer {
	background-color: #000;
	height: 324px;
	display: flex;
	justify-content: center;
    align-items: center;
}

.footer__nav{
	width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer__nav__logo{
	align-self: flex-start;
	margin-right: 192px;
}

.footer__nav__content{
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.nav__link{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	letter-spacing: -0.05em;
	color: #D9D9D9;
}

.footer li:not(:last-child){
	margin-bottom: 20px;
}

.nav__item{
	display: flex;
	flex-direction: column;
    align-items: center;
}

.nav--first{
	width: 140px;
	margin-right: 158px;
}

.nav--second{
	margin-right: 109px;
	width: 189px;
}

.nav--tr{
	width: 237px;
}

.nav__logo{
	align-self: flex-start;
	margin-right: 192px;
	width: 105px;
	height: 35px;
}

.nav__item__phonde{
	display: none;
}

@media screen and (max-width: 1150px){
	body{
		font-size: 16px;
	}

	.wrapper{
		margin-top: 22px;
	}

	._container{
		width: 731px;
		padding: 0 20px;
	}

	.header__menu{
	margin: 0 0 0 48px;
	}

	.header__logo{
		width: 111px;
		height: 35px;
	}

	.menu__item{
	font-size: 18px;
	}

	.menu__link {
	font-size: 14px;
	}

	.menu__item:not(:last-child){
	margin: 0 39px 0 0;
	}

	.menu__item:last-child{
	margin: 0 0 0 10px;
	}

	.page__main-block{
		padding: 100px 0;
	}

	.main-block__body{
		margin: 0;
		flex-direction: column;
	}

	.main-block__title{
		margin-top: 0px;
	}

	.main-block__buttons{
		margin-top: 50px;
	}

	.main-block__image{
		margin-top: 70px;
		height: 306px;
		overflow: hidden;
	}

	.main-block__image img{
		width: 100%;
		height: 306px
	}

	.service__container{
		padding: 100px 0;
	}

	.service__titles{
		margin-bottom: 60px;
	}

	.titles-title{
		font-size: 35px;
		line-height: 150%;
	}

	.titles__text{
		font-size: 16px;
	}

	.service__titles .titles__text{
		width: 345px;
	}

	.services__row{
		padding: 40px 46px;
		margin-bottom: 40px;
	}

	.item-service{
		width: 320px;
	}

	.item-service__text{
		width: auto;
	}

	.item-service__img img{
		width: 233px;
		margin-right: 13px;
		position: relative;
		top: 9px;
	}

	.page__benefits{
		padding: 100px 0;
	}

	.benefits__body .titles__text{
		width: 327px;
	}

	.benefits__block{
		margin-top: 69px;
		flex-direction: column;
	}

	.benefits__column{
		width: 100%;
		height: 243px;
		padding: 35px 50px;
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
	}

	.benefits__column__header{
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
	}

	.benefits__column__text{
		margin: 0 0 0 110px;
		flex-grow: 1;
		font-size: 18px;
	}

	.benefits__column__gray .benefits__column__title{
		margin-left: 35px;
	}

	.benefits__column__gray .benefits__column__text{
		width: 424px;
	}

	.benefits__column__bold-gray .benefits__column__title{
		margin-left: 63px;
	}

	.benefits__column__bold-gray .benefits__column__text{
		width: 467px;
	}

	.benefits__column__pink .benefits__column__title{
		margin-left: 46px;
	}

	.benefits__column__pink .benefits__column__text{
		width: 430px;
	}

	.benefits__column__title{
		margin-top: 0px;
		margin-bottom: 25px;
		
	}

	.page__brends-preview{
		padding: 100px 0;
	}

	.brends__сarousel{
		margin-top: 60px;
	}

	.item-carousel__brend:not(:last-child){
		margin-right: 20px;
	}

	.last{
		display: none;
	}

	.item-carousel__arrow img{
		width: 16px;
		height: 16px
	}

	.fr{
		margin-right: 5px;
	}

	.rgh{
		margin-left: 5px;
	}

	.tel{
		margin: 0px!important;
	}

	.preview__body{
		margin-top: 100px;
	}

	.preview__row{
		margin-top: 60px;
	}

	.preview__column{
		width: 229px;
		padding: 15px 10px 40px 19px;
	}

	.preview__column__title{
		display: flex;
   		flex-direction: column-reverse;
	}

	.column-title__content{
		margin-top: 10px;
	}

	.column-title__icon{
		position: static;
		width: 24px;
		height: 24px;
		align-self: flex-end;
	}

	.column-title__date{
		font-size: 11px;
	}

	.preview__column__text{
		margin-top: 20px;
		font-size: 14px;
	}

	.preview__column__bottom{
		margin-top: 10px;
		flex-direction: column;
    	align-items: flex-start;
	}

	.preview__column__bottom .column-title__date{
		margin-bottom: 20px;
	}

	.page__feedback{
		padding: 100px 0;
	}

	.feedback__block{
		margin-top: 63px;
		padding: 60px 48px;
	}

	.page__map{
		padding: 100px 0;
	}

	.map__body{
		width: 354px;
		padding: 46px 30px 45px 47px;
	}

	.map__body__address{
		font-size: 14px;
	}

	.footer{
		padding: 60px 0 50px 0;
	}

	.footer__nav{
		flex-direction: column;
	}

	.footer__nav__logo{
		margin-bottom: 20px;
	}

	.nav--first{
		margin: 0px;
	}
}

@media screen and (max-width: 525px){
	body{
		font-size: 16px;
	}

	.wrapper{
		margin-top: 18px;
	}

	._container{
		width: 300px;
		padding: 0 10px;
	}

	.header__menu{
		display: none;
	}

	.header__logo{
		width: 107px;
		height: 35px;
	}

	.menu__hamb{
		display: block;
	}

	.page__main-block{
		padding: 60px 0;
	}

	.main-block__body{
		margin: 0px;
		flex-direction: column;
	}

	.main-block__title{
		margin-top: 0px;
		font-size: 40px;
		line-height: 150.5%;
	}

	.main-block__subtitle{
		margin-top: 20px;
		font-size: 25px;
	}

	.main-block__buttons{
		margin-top: 37px;
	}

	.main-block__button{
		width: 100%;
		margin: 0 0 25px 0!important;
	}

	.main-block__image{
		margin-top: 10px;
		width: 100%;
	}

	.main-block__image img{
		width: 100%;
		height: 306px;
	}

	.service__container{
		padding: 60px 0;
	}

	.service__titles{
		margin-bottom: 60px;
	}

	.titles__block{
		flex-direction: column;
		align-items: flex-start;
	}

	.titles__content{
		margin-bottom: 25px;
	}

	.titles-title{
		font-size: 30px;
		line-height: 150%;
	}

	.titles__text{
		font-size: 16px;
	}

	.service__titles .titles__text{
		width: 298px;
	}

	.services__row{
		padding: 30px 24px;
		margin-bottom: 30px;
		height: auto;
		flex-direction: column;
	}

	.item-service{
		width: 243px;
	}

	.item-service__title{
		font-size: 20px;
	}

	.item-service__text{
		width: auto;
	}

	.item-service .item-service__button{
		display: none;
	}

	.item-service__button{
		width: 251px;
		margin-top: 27px;
	}

	.item-service__phone-btn{
		display: inline
	}

	.item-service__img img{
		width: 127px;
		margin: 11px 0 0 0;
		position: relative;
		top: 8px;
	}

	img[alt="Фотоаппарат"]{
		width: 152px;
		margin-top: 25px;
		margin-bottom: 40px;
	}

	img[alt="гироскутер"]{
		width: 172px;
		margin: 32px 0 3px 0;
	}

	img[alt="Телевизор"]{
		width: 149px;
		margin: 25px 0 0 0;
	}


	.page__benefits{
		padding: 60px 0;
	}

	.benefits__block{
		margin-top: 35px;
		flex-direction: column;
	}

	.benefits__column{
		width: 100%;
		height: auto;
		padding: 35px 25px;
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
	}

	.benefits__column__header{
		flex-direction: row;
	}

	.benefits__column__title{
		margin: 0!important;
	}

	.benefits__column__gray .benefits__column__header img{
		width: 56px!important;
	}

	.benefits__column__bold-gray .benefits__column__header img{
		width: 39px;
	}

	.benefits__column__pink{
		margin: 0;
	}

	.benefits__column__pink .benefits__column__header img{
		width: 62px;
	}

	.benefits__column__title{
		font-size: 20px;
		margin-top: 0px;
		margin-bottom: 20px;
	}

	.benefits__column__text{
		font-size: 16px;
		margin: 20px 0 0 0!important;
		width: auto!important;
	}

	.page__brends-preview{
		padding: 60px 0;
	}

	.brends__сarousel{
		margin-top: 60px;
	}

	.item-carousel__brend{
		margin: 0!important;
	}

	.last{
		display: none;
	}

	.item-carousel__arrow img{
		width: 16px;
		height: 16px
	}

	.fr{
		margin-right: 5px;
	}

	.rgh{
		margin-left: 5px;
	}

	.pho{
		display: none;
	}

	.preview__body{
		margin-top: 60px;
	}

	.preview__row{
		margin-top: 0;
		flex-direction: column;
	}

	.preview__column{
		width: 100%;
		padding: 20px 21px 50px 25px;
		margin-bottom: 30px;
	}

	.preview__column__title{
		display: flex;
   		flex-direction: column-reverse;
	}

	.column-title__content{
		margin-top: 10px;
	}

	.column-title__icon{
		position: static;
		width: 24px;
		height: 24px;
		align-self: flex-end;
	}

	.column-title__date{
		font-size: 11px;
	}

	.preview__column__text{
		margin-top: 20px;
		font-size: 14px;
	}

	.preview__column__bottom{
		margin-top: 10px;
		flex-direction: column;
    	align-items: flex-start;
	}

	.preview__column__bottom .column-title__date{
		margin-bottom: 20px;
	}

	.page__feedback{
		padding: 60px 0;
	}

	.feedback__block{
		margin-top: 35px;
		padding: 35px 25px;
	}

	.feedback__block__flex{
		flex-direction: column;
	}

	.feedback__block__input, .feedback__block__text{
		width: 100%;
	}

	.feedback__block__input{
		margin-bottom: 15px;
	}

	.feedback__block__input input, .feedback__block__text textarea{
		padding: 15px auto;
		font-size: 12px;
		line-height: 175%;
	}

	.feedback__button{
		width: 100%;
	}

	.page__map{
		padding: 0;
		background-color: #525252!important;
		background-image: none;
	}

	.map__body{
		width: 100%;
		padding: 0 0 60px 0;
	}

	.map__phone{
		display: block;
	}

	.map__body__address{
		font-size: 14px;
	}

	.footer{
		display: block;
		padding: 60px 0;
		height: auto
	}

	.footer__nav{
		flex-direction: column;
	}

	.footer__nav__content{
		align-items: normal;
	}

	.footer__nav__logo{
		margin-bottom: 20px;
	}

	.nav__item{
		display: none;
	}

	.nav__item__phonde{
		margin-top: 20px;
		display: block;
	}

	.nav__item__phonde li{
		width: 142px;
	}

	.nav__link{
		font-size: 14px;
	}
}